h1 {
    font-size: 30px;
}

.fundoVermelho {
    background-color: red;
}

.negrito {
    font-weight: bold;
}

#textoPrincipal {
    font-size: 40px;
    font-weight: bold;
    background-color: #444;
    color: white;
    padding: 10px;
    margin-bottom: 40px;
}